<a href="https://colab.research.google.com/github/YagyanshB/Stats-For-Data-Science/blob/main/Mean_Using_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Importing the required libraries

import numpy as np
import random
import math

In [2]:
x = np.array([1,3,5,6])
mean_x = np.mean(x)

In [3]:
mean_x

3.75

In [8]:
# In the event the data contains NaN values

x_nan = np.array([1,3,5,6, math.nan])
mean_x_nan = np.nanmean(x_nan)

In [10]:
mean_x_nan

3.75